coverage
*.lcov

.nyc_output

node_modules/

.npm

.eslintcache

.idea/

config/local.yaml

dist/

.esbuild/

docker/
.dynamodb/

cdk/speed-camera/cdk.out/.cache/
cdk/speed-camera/cdk.out/asset*/
cdk/speed-camera/outputs.json

.serverless/
